@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Neue Montreal Bold';
    src: url('../fonts/NeueMontreal-Bold.otf');
}
@font-face {
    font-family: 'Aiglon Pro Extended';
    src: url('../fonts/AiglonProExtended-Demi.otf');
}

.title {
    font-family: 'Aiglon Pro Extended';
}
h1 {
    font-family: 'Neue Montreal Bold';
}
h2 {
    font-family: 'Neue Montreal Bold';
}
a {
    font-family: 'Neue Montreal Bold';
    font-style: italic;
    color: #00B15A;
}
