@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Neue Montreal Bold';
    font-display: swap;
    unicode-range: U+000-5FF;
    src: url('../fonts/NeueMontrealBold.woff2');
}
@font-face {
    font-family: 'Aiglon Pro Extended';
    font-display: swap;
    unicode-range: U+000-5FF;
    src: url('../fonts/AiglonProExtendedDemi.woff2');
}

h1 {
    font-family: 'Aiglon Pro Extended';
}
h2, h3 {
    font-family: 'Neue Montreal Bold';
}
a {
    font-family: 'Neue Montreal Bold';
    font-style: italic;
    color: #00B15A;
}
txt {
    font-family: 'Neue Montreal Bold';
    font-style: italic;
    color: #00B15A;
}
